/* font-family: 'Corinthia', cursive; */

/* NAV */
.navbar {
  border-bottom: .1rem solid lightgrey;
  padding-right: 2rem;
}

/* ABOUT PAGE */
.about-page {
  padding-top: 1rem;
}

.projects-page,
.nss-projects-page {
  margin-top: 3rem;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: 5rem;
  margin-bottom: .5rem;
  width: 28rem;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
}

.icon {
  opacity: .4 ;
}

.intro-title {
  color: darkmagenta;
  font-size: 5rem;
  font-weight: 400;
  /* font-family: 'Waterfall', cursive; */
  margin-bottom: 1rem;
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
}


/* PROJECTS PAGE */
.project-intro {
  width: 70rem;
  margin-left: 1.8rem;
  margin-bottom: 0;
}

.project-intro-container a {
  text-decoration: none;
  color: darkmagenta;
  font-weight: bold;
}

.projects-icon {
  width:3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: .5rem;
}

.card .card-text {
  font-size: .8rem;
}

.card-container a {
  color: black;
}


/* FOOTER */
footer {
  border-top: .1rem solid lightgrey;
  padding: 2rem;
  margin-top: 1rem;
}


/* ANIMATIONS */
.bouncy {
  animation: bouncy 4s infinite linear;
  position: relative;
  width: 3rem;
  margin: 1rem;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em
  }
}

a.button {
  transition: all 0.2s;
}

a.button:hover {
  background-color: darkmagenta;
}




/* MEDIA QUERY */
@media only screen and (max-width: 600px) {


  body {
    margin: 0;
    padding: 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .avatar-container {
    display: block;
    justify-content: center;
  }

  .intro-title {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .contact-icon-container,
  .bouncy,
  .navbar-brand,
  .avatar,
  .projects-icon {
    display: none;
  }

  .navbar img {
    margin: 0;
    display: none;
  }

  .projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .project-title {
    font-size: 1.5rem;
  }

  .project-intro-container p {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }

  .right-wrapper {
    margin: 0rem;
  }

  .up-arrow-media-query {
    display:block
  }
}
